<section>
		<h1>Suscribirse</h1>	
		
		<div id="thumbs">
		   <div class="smallsection">
				<a href="http://feeds.feedburner.com/andresmarrugo/es"><img width=24px class=noborder align="left" src="{{ root_url }}/images/rss_style.png" alt="RSS Feed" title="RSS (Espa&ntilde;ol)"></a>
		   </div> 
			<div class="smallsection">
				<a href="http://feedburner.google.com/fb/a/mailverify?uri=andresmarrugo/es&amp;loc=es_ES"><img width=24px class=noborder align="left" src="{{ root_url }}/images/mail.png" alt="email" title="Email (Espa&ntilde;ol)"> </a>
			</div>
			<div class="smallsection">
				<a href="http://feeds.feedburner.com/agmarrugo_en_es"><img width=24px class=noborder align="left" src="{{ root_url }}/images/rss_style.png" alt="RSS Feed" title="RSS (Ingl&eacute;s + Espa&ntilde;ol)"></a>
			</div>
			<div class="smallsection">
				<a href="http://feedburner.google.com/fb/a/mailverify?uri=agmarrugo_en_es&amp;loc=en_US"><img width=24px class=noborder align="left" src="{{ root_url }}/images/mail.png" alt="email" title="Email (Ingl&eacute;s + Espa&ntilde;ol)"> </a> 
			</div>
		</div>​
		
</section>