<section>
		<h1>Suscribirse</h1>	
		<p align="left">

	<a href="http://feeds.feedburner.com/andresmarrugo/es"><img class=noborder align="left" src="{{ root_url }}/images/rss_style.png" alt="RSS Feed" title="suscribirse via RSS"> via RSS</a> <br> <br>
	<a href="http://feedburner.google.com/fb/a/mailverify?uri=andresmarrugo/es&amp;loc=es_ES"><img class=noborder align="left" src="{{ root_url }}/images/mail.png" alt="email" title="suscribirse via email"> via Email</a> 		
		</p>
		
		<h2>Ingl&eacute;s + Espa&ntilde;ol Feed </h2>
		<p align="left">
		<a href="http://feeds.feedburner.com/agmarrugo_en_es"><img class=noborder align="left" src="{{ root_url }}/images/rss_style.png" alt="RSS Feed" title="subscribe via RSS"> via RSS</a> <br> <br>
		<a href="http://feedburner.google.com/fb/a/mailverify?uri=agmarrugo_en_es&amp;loc=en_US"><img class=noborder align="left" src="{{ root_url }}/images/mail.png" alt="email" title="subscribe via email"> via Email</a> 
		</p>
		
</section>